@{
    ViewData["Title"] = "Index";
}

<h1><a href='@Url.Action("SelectPaquete")'>Crear Paquete</a></h1>

@foreach (string id in ViewBag.paquetes.Keys)
{
    <div>
        <h2>@id:</h2> 
        <img src="~/img/hoteles/@ViewBag.paquetes[id].Hotel" width="10%" height="auto">
        <img src="~/img/aereos/@ViewBag.paquetes[id].Aereo" width="10%" height="auto">
        <img src="~/img/excursiones/@ViewBag.paquetes[id].Excursion" width="10%" height="auto">
    </div>
}