@{
    ViewData["Title"] = "Index";
}

<h1><a href='@Url.Action("SelectPaquete")'>Crear Paquete</a></h1>

    @foreach (string id in ViewBag.paquetes.Keys)
    {
        <div class="home">
            <div class="backgroundId"><h2>@id</h2></div> 
            <div class="imagen-container"><img src="~/img/hoteles/@ViewBag.paquetes[id].Hotel"><p>Hotel</p></div>
            <div class="imagen-container"><img src="~/img/aereos/@ViewBag.paquetes[id].Aereo"><p>Aereo</p></div>
            <div class="imagen-container"><img src="~/img/excursiones/@ViewBag.paquetes[id].Excursion"><p>Excursion</p></div>
        </div>
    }