
    <h3>@ViewBag.MensajeError</h3>
    <form action='@Url.Action("GuardarPaquete")'>
        <div class="selectPaquete">
            <h2>Destino:</h2> 
                <select name="destino">
                <option value='0'>Selecciona opción</option>
                    @for(int i=0; i<ViewBag.destinos.Count; i++){
                        <option value=@(i+1)>@ViewBag.destinos[i]</option>
                    }
                </select>
        </div>

        <div class="selectPaquete">
            <h2>Hotel:</h2>
            @for(int i=0; i<ViewBag.hoteles.Count; i++){
                    <input type="radio" name="hotel" id="hotel+@i" value=@(i+1) class="input-hidden">
                    <label for="hotel+@i">
                        <img src="~/img/hoteles/@ViewBag.hoteles[i]">
                    </label>
            }
        </div>
        
        <div class="selectPaquete">
            <h2>Aereo:</h2>
            @for(int i=0; i<ViewBag.aereos.Count; i++){
                    <input type="radio" name="aereo" id="aereo+@i" value=@(i+1) class="input-hidden">
                    <label for="aereo+@i">
                        <img src="~/img/aereos/@ViewBag.aereos[i]">
                    </label>
                }
        </div>

        <div class="selectPaquete">
            <h2>Excursion:</h2>
            @for(int i=0; i<ViewBag.excursiones.Count; i++){
                    <input type="radio" name="excursion" id="excursion+@i" value=@(i+1) class="input-hidden">
                    <label for="excursion+@i">
                        <img src="~/img/excursiones/@ViewBag.excursiones[i]">
                    </label>
                }
        </div>
        
        <input type="submit" value="Enviar paquete" class="except">
    </form>
