html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
  margin: 20px 60px 0px 20px;
  background-color: beige;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}


.selectPaquete {
  margin-bottom: 50px;
}

label img{
  width: 200px;
  height: 200px;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-right: 1%;
  transition: 1s all ease;
}

label img:hover {
  width: 270px;
  height: 235px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.backgroundId {
  background-color: rgb(151, 147, 147);
}

select {
  width: 200px; 
  height: 70px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

.input-hidden:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}

.input-hidden + label>img {
  border: 1px #444;
  transition: 500ms all;
}

.except {
  width: 180px; 
  height: 60px;
  font-size: 18px;
  position: relative;
  background-color: yellow;
  margin-bottom: 60px;
}

.home {
  border: 2px solid black;
  width: 25%;
  background-color: white;
  margin-right: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

.home img{
  width: 130px;
  height: 130px;
  float: left;
  margin-left: 6.5px;
  margin-right: 6px;
  padding: 1px;
}

.home p{
  font-size: 20px;
  float: bottom;
  margin-left: 6.5px;
  margin-right: 6px;
  padding: 1px;
  text-align: center;
}

.home h2{
  text-align: center;
}

.imagen-container{
  display: inline-block;
}

h3 {
  color: red;
}

.paquete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paquete img {
  width: 10%;
  height: auto;
  margin-bottom: 2%;
}

.contenedor-simbolo {
  width: 0 auto;
  text-align: center;
}
.simbolo {
  width: 8%;
  height: auto;
  transition: 0.5s all ease;
  margin-bottom: 2%;
} 

.simbolo:hover{
  width: 10%;
  height: auto;
}